 html,body{height:100%}
 
.wrapper {
    display: flex;
    width: 100%;
    min-height:100%,
    align-items: stretch;
}

 .MyContainer{
  padding-top:30px;
  margin-right:50px;
  padding-bottom:30px;
 }

#sidebar.active {
    margin-left: -250px;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #3E4349;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
	
  min-height:100vh;
	min-width: 250px;
    max-width: 300px;
    /* don't forget to add all the previously mentioned styles here too */
    background: #9DE7CD;
    color: #fff;
    
    
      margin-right:30px;
}

#sidebar .sidebar-header {
    padding: 20px;
 background: #70D0AE;
 	padding-left:40px;
}

#sidebar a.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar a p {
    color: #fff;
    padding: 10px;
}

#sidebar   a {
    padding: 10px;    
    font-size: 1.1em;
    display: block;
}
#sidebar a:hover {
    color: #9DE7CD;
    background: #fff;
}


 #sidebar a {
    font-size: 0.9em !important;
    padding-left: 40px !important;
 
}